#s-0144f4a8-6404-455a-ae10-a00280491327 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0144f4a8-6404-455a-ae10-a00280491327 #s-Button-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0144f4a8-6404-455a-ae10-a00280491327 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0144f4a8-6404-455a-ae10-a00280491327 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0144f4a8-6404-455a-ae10-a00280491327 #s-Button-black {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0144f4a8-6404-455a-ae10-a00280491327 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}