#s-0371474f-08bb-4611-af12-6948e36fd915 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0371474f-08bb-4611-af12-6948e36fd915 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0371474f-08bb-4611-af12-6948e36fd915 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0371474f-08bb-4611-af12-6948e36fd915 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0371474f-08bb-4611-af12-6948e36fd915 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0371474f-08bb-4611-af12-6948e36fd915 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0371474f-08bb-4611-af12-6948e36fd915 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0371474f-08bb-4611-af12-6948e36fd915 #s-Input-text-password INPUT {
  font-family: Arial;
}
#s-0371474f-08bb-4611-af12-6948e36fd915 #s-Input-text-password_1 INPUT {
  font-family: Arial;
}
#s-0371474f-08bb-4611-af12-6948e36fd915 #s-Button-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0371474f-08bb-4611-af12-6948e36fd915 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}