#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Bg-white {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Assistant {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Label_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Photos {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Label_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Amlbims {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Label_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-search {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-mic {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad #s-Button-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-13794e04-fb13-4265-9d0a-5c3b460d5dad > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}