#s-184c7ecd-a9e1-4baa-a483-0c58508d67e4 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-184c7ecd-a9e1-4baa-a483-0c58508d67e4 #s-Button-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-184c7ecd-a9e1-4baa-a483-0c58508d67e4 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-184c7ecd-a9e1-4baa-a483-0c58508d67e4 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-184c7ecd-a9e1-4baa-a483-0c58508d67e4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}