#s-22ef671a-fda2-47ac-9dba-6e905c8d402d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22ef671a-fda2-47ac-9dba-6e905c8d402d #s-Button-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22ef671a-fda2-47ac-9dba-6e905c8d402d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22ef671a-fda2-47ac-9dba-6e905c8d402d #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22ef671a-fda2-47ac-9dba-6e905c8d402d #s-Button-black {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-22ef671a-fda2-47ac-9dba-6e905c8d402d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}