#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Bg-white {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Assistant {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Photos {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Amlbims {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-search {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-mic {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Button-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}