#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Bg-white {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-VG > .valign {
  vertical-align: top;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Nave {
  border-collapse: separate;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Cell_1 > .valign {
  vertical-align: middle;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Assistant {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_46 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Cell_2 > .valign {
  vertical-align: middle;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Photos {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_47 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Cell_3 > .valign {
  vertical-align: middle;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Amlbims {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_48 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-HG {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-HG > .valign {
  vertical-align: top;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Components_panel {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-search {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-mic {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Button-red {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DD3214;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DD3214;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DD3214;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DD3214;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 21px;
  width: 59px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}