#s-25fcf782-9be2-4e48-821d-ca4496e47204 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 > #alignmentBox {
  position: relative;
  max-width: 414px;
  max-height: 736px;
  width: 100%;
  height: 100%;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Albumns_screen {
  position: absolute;
  width: 414px;
  height: 787px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Bg-white > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Bg-white {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Bg-white > .clipping, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Bg-white > .paddingLayer {
  height: 106px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Bg-white .valign {
  vertical-align: middle;
  text-align: center;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Bg-white span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Bg-white span#rtr-s-Bg-white_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Horizontal_softkeys {
  position: absolute;
  width: 414px;
  height: 48px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Softkeys-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Softkeys-bg {
  position: absolute;
  width: 0px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Softkeys-bg > .clipping, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Softkeys-bg > .paddingLayer {
  height: 48px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Softkeys-bg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Softkeys-bg span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Softkeys-bg span#rtr-s-Softkeys-bg_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Square > svg {
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Square {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Square > img, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Square > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Circle > svg {
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Circle {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Circle > img, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Circle > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Triangle > svg {
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Triangle {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Triangle > img, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Triangle > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-v_gallery {
  position: absolute;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-VG {
  width: 0px;
  height: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-VG > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-VG td.layout {
  padding: 0px 0px 0px 15px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-VG > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 100px;
  height: 44px;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-VG .verticalalign {
  vertical-align: top;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-VG .VG > * {
  margin-right: 20px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-VG .ghostHLayout {
  overflow-x: hidden;
  overflow-y: auto;
  width: calc(100% + 20px);
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-VG .VG > * {
  margin-bottom: 10px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Group_2 {
  width: 156px;
  height: 180px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_17 {
  position: absolute;
  width: 156px;
  height: 156px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_17 > img, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_17 > svg {
  height: 156px;
  width: 156px;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_10 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_10 > .clipping, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_10 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Group_3 {
  width: 156px;
  height: 180px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_15 {
  position: absolute;
  width: 156px;
  height: 156px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_15 > img, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_15 > svg {
  height: 156px;
  width: 156px;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_11 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_11 > .clipping, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_11 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Group_7 {
  width: 156px;
  height: 180px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_19 {
  position: absolute;
  width: 156px;
  height: 156px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_19 > img, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_19 > svg {
  height: 156px;
  width: 156px;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_12 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_12 > .clipping, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_12 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Group_4 {
  width: 156px;
  height: 180px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_18 {
  position: absolute;
  width: 156px;
  height: 156px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_18 > img, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_18 > svg {
  height: 156px;
  width: 156px;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_13 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_13 > .clipping, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_13 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Rectangle_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Rectangle_12 {
  width: 360px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Rectangle_12 > .clipping, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Rectangle_12 > .paddingLayer {
  height: 20px;
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Rectangle_12 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Nave {
  position: absolute;
  width: 414px;
  height: 59px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Nave > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FAFAFA;
  background-image: none;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Nave > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Cell_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Cell_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Cell_1 .verticalalign {
  vertical-align: middle;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Cell_1 {
  width: 138px;
  height: 59px;
  background-color: transparent;
  background-image: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Assistant > svg {
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Assistant {
  width: 20px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Assistant > img, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Assistant > svg {
  height: 23px;
  width: 20px;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_46 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_46 {
  width: 120px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_46 > .clipping, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_46 > .paddingLayer {
  height: 19px;
  width: 120px;
  padding-top: 0px;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_46 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_46 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_46 span#rtr-s-Label_46_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Cell_2 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Cell_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Cell_2 .verticalalign {
  vertical-align: middle;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Cell_2 {
  width: 138px;
  height: 59px;
  background-color: transparent;
  background-image: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Photos > svg {
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Photos {
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Photos > img, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Photos > svg {
  height: 25px;
  width: 25px;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_47 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_47 {
  width: 120px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_47 > .clipping, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_47 > .paddingLayer {
  height: 19px;
  width: 120px;
  padding-top: 0px;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_47 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_47 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_47 span#rtr-s-Label_47_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Cell_3 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Cell_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Cell_3 .verticalalign {
  vertical-align: middle;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Cell_3 {
  width: 138px;
  height: 59px;
  background-color: transparent;
  background-image: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Amlbims > svg {
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Amlbims {
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Amlbims > img, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Amlbims > svg {
  height: 22px;
  width: 22px;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_48 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_48 {
  width: 120px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_48 > .clipping, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_48 > .paddingLayer {
  height: 19px;
  width: 120px;
  padding-top: 0px;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_48 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_48 span {
  color: #4285F4;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Label_48 span#rtr-s-Label_48_0 {
  color: #4285F4;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-h_gallery {
  position: absolute;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-HG {
  width: 0px;
  height: 168px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-HG > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-HG td.layout {
  padding: 0px 0px 0px 15px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-HG > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 100px;
  height: 167px;
  overflow-x: auto;
  overflow-y: hidden;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-HG .verticalalign {
  vertical-align: top;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-HG .HG > * {
  margin-right: 15px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-HG .HG > *:last-child {
  margin-right: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-HG .ghostHLayout {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Group_5 {
  width: 120px;
  height: 143px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_3 {
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_3 > img, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_3 > svg {
  height: 120px;
  width: 120px;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_7 > .clipping, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Group_6 {
  width: 120px;
  height: 143px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_8 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_8 > .clipping, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_8 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_4 {
  position: absolute;
  width: 59px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_4 > img, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_4 > svg {
  height: 59px;
  width: 59px;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_5 {
  position: absolute;
  width: 59px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_5 > img, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_5 > svg {
  height: 59px;
  width: 59px;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_8 {
  position: absolute;
  width: 59px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_8 > img, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_8 > svg {
  height: 59px;
  width: 59px;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_9 {
  position: absolute;
  width: 59px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_9 > img, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_9 > svg {
  height: 59px;
  width: 59px;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Group_8 {
  width: 120px;
  height: 143px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_9 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_9 > .clipping, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_9 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_10 {
  position: absolute;
  width: 59px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_10 > img, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_10 > svg {
  height: 59px;
  width: 59px;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_11 {
  position: absolute;
  width: 59px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_11 > img, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_11 > svg {
  height: 59px;
  width: 59px;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_12 {
  position: absolute;
  width: 59px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_12 > img, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_12 > svg {
  height: 59px;
  width: 59px;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_13 {
  position: absolute;
  width: 59px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_13 > img, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Image_13 > svg {
  height: 59px;
  width: 59px;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Rectangle_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Rectangle_11 {
  width: 10px;
  height: 102px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Rectangle_11 > .clipping, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Rectangle_11 > .paddingLayer {
  height: 102px;
  width: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Rectangle_11 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Input_search {
  position: absolute;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Components_panel {
  width: 0px;
  height: 44px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Components_panel > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  box-shadow: 0px 0px 5px 0px #999999;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Components_panel td.layout {
  padding: 0px 0px 0px 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Components_panel > .layoutWrapper {
  left: 3px;
  top: 3px;
  width: 84px;
  height: 38px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Components_panel .verticalalign {
  vertical-align: top;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Input_1 {
  position: absolute;
  width: 0px;
  height: 44px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Input_1 .valign {
  vertical-align: top;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Input_1 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Input_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: 0px 0px 5px 0px #999999;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Input_1 > .paddingLayer {
  height: 31px;
  width: 9px;
  padding-top: 13px;
  padding-bottom: 0px;
  padding-left: 40px;
  padding-right: 51px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-search > svg {
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-search {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-search > img, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-search > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-mic > svg {
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-mic {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-mic > img, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-mic > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Status-bar {
  position: absolute;
  width: 414px;
  height: 21px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Bg_status > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Bg_status {
  position: absolute;
  width: 0px;
  height: 20px;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Bg_status > .clipping, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Bg_status > .paddingLayer {
  height: 20px;
  width: 92px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 8px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Bg_status .valign {
  vertical-align: middle;
  text-align: right;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Bg_status span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Bg_status span#rtr-s-Bg_status_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-hour > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-hour {
  position: absolute;
  width: 46px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-hour > .clipping, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-hour > .paddingLayer {
  height: 21px;
  width: 41px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 5px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-hour .valign {
  vertical-align: middle;
  text-align: right;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-hour span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-hour span#rtr-s-hour_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-signals {
  position: absolute;
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-signals > img, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-signals > svg {
  height: 20px;
  width: 61px;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Button-red > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FF0000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DD3214;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DD3214;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DD3214;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DD3214;
  border-radius: 11px 11px 11px 11px;
  box-shadow: none;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Button-red {
  position: absolute;
  width: 73px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Button-red > .clipping, #s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Button-red > .paddingLayer {
  height: 21px;
  width: 59px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Button-red .valign {
  vertical-align: middle;
  text-align: center;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Button-red span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 #s-Button-red span#rtr-s-Button-red_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-25fcf782-9be2-4e48-821d-ca4496e47204 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}