#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Background_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Time-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Date-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_407 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Image_15 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}