#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Background_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Time-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Date-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_407 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Image_15 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 0px 0px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_95 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_96 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 0px 0px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 17px 17px 17px 17px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_101 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_102 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_104 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 0px 0px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_103 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_105 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Label_108 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3b7ef5cd-e491-46c2-9b2d-250f40d4541a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}