#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button-red {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DD3214;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DD3214;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DD3214;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DD3214;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 21px;
  width: 59px;
  -ms-transform: rotate(0.0deg);
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 0px 0px 4px;
  padding-top: 3px;
  padding-right: 0px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 23px;
  width: 108px;
  -ms-transform: rotate(0.0deg);
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-radius: 0px 4px 4px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  height: 23px;
  width: 107px;
  -ms-transform: rotate(0.0deg);
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 0px 0px 4px;
  padding-top: 3px;
  padding-right: 0px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 23px;
  width: 108px;
  -ms-transform: rotate(0.0deg);
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-radius: 0px 4px 4px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  height: 23px;
  width: 107px;
  -ms-transform: rotate(0.0deg);
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 0px 0px 4px;
  padding-top: 3px;
  padding-right: 0px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 23px;
  width: 108px;
  -ms-transform: rotate(0.0deg);
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-radius: 0px 4px 4px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  height: 23px;
  width: 107px;
  -ms-transform: rotate(0.0deg);
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 0px 0px 4px;
  padding-top: 3px;
  padding-right: 0px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 23px;
  width: 108px;
  -ms-transform: rotate(0.0deg);
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-radius: 0px 4px 4px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  height: 23px;
  width: 107px;
  -ms-transform: rotate(0.0deg);
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}