#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}