#s-405f8862-fae9-4a85-9805-e1a51128e2ab > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab > #alignmentBox {
  position: relative;
  max-width: 414px;
  max-height: 736px;
  width: 100%;
  height: 100%;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Image_1 {
  position: absolute;
  width: 644px;
  height: 736px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Image_1 > img, #s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Image_1 > svg {
  height: 736px;
  width: 644px;
  box-shadow: none;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_1 > .clipping, #s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_1 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_1 span#rtr-s-Text_1_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button-red > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FF0000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DD3214;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DD3214;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DD3214;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DD3214;
  border-radius: 11px 11px 11px 11px;
  box-shadow: none;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button-red {
  position: absolute;
  width: 73px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button-red > .clipping, #s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button-red > .paddingLayer {
  height: 21px;
  width: 59px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button-red .valign {
  vertical-align: middle;
  text-align: center;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button-red span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button-red span#rtr-s-Button-red_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_2 > .clipping, #s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Tabs-2-text {
  position: absolute;
  width: 221px;
  height: 29px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_18 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -1px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 0px 0px 4px;
  box-shadow: none;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_18 {
  position: absolute;
  width: 111px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_18 > .clipping, #s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_18 > .paddingLayer {
  height: 23px;
  width: 108px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_18 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_18 span#rtr-s-Label_18_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_19 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -1px);
  background-color: #157EFB;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-radius: 0px 4px 4px 0px;
  box-shadow: none;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_19 {
  position: absolute;
  width: 110px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_19 > .clipping, #s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_19 > .paddingLayer {
  height: 23px;
  width: 107px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-right: 3px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_19 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_19 span#rtr-s-Label_19_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_3 > .clipping, #s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Tabs-2-text_1 {
  position: absolute;
  width: 221px;
  height: 29px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_20 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -1px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 0px 0px 4px;
  box-shadow: none;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_20 {
  position: absolute;
  width: 111px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_20 > .clipping, #s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_20 > .paddingLayer {
  height: 23px;
  width: 108px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_20 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_20 span#rtr-s-Label_20_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_21 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -1px);
  background-color: #157EFB;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-radius: 0px 4px 4px 0px;
  box-shadow: none;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_21 {
  position: absolute;
  width: 110px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_21 > .clipping, #s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_21 > .paddingLayer {
  height: 23px;
  width: 107px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-right: 3px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_21 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_21 span#rtr-s-Label_21_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_4 > .clipping, #s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Text_4 span#rtr-s-Text_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Tabs-2-text_2 {
  position: absolute;
  width: 221px;
  height: 29px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_22 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -1px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 0px 0px 4px;
  box-shadow: none;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_22 {
  position: absolute;
  width: 111px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_22 > .clipping, #s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_22 > .paddingLayer {
  height: 23px;
  width: 108px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_22 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_22 span#rtr-s-Label_22_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_23 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -1px);
  background-color: #157EFB;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-radius: 0px 4px 4px 0px;
  box-shadow: none;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_23 {
  position: absolute;
  width: 110px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_23 > .clipping, #s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_23 > .paddingLayer {
  height: 23px;
  width: 107px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-right: 3px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_23 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_23 span#rtr-s-Label_23_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Tabs-2-text_3 {
  position: absolute;
  width: 221px;
  height: 29px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_24 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -1px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 0px 0px 4px;
  box-shadow: none;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_24 {
  position: absolute;
  width: 111px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_24 > .clipping, #s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_24 > .paddingLayer {
  height: 23px;
  width: 108px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_24 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_24 span#rtr-s-Label_24_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_25 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -1px);
  background-color: #157EFB;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-radius: 0px 4px 4px 0px;
  box-shadow: none;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_25 {
  position: absolute;
  width: 110px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_25 > .clipping, #s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_25 > .paddingLayer {
  height: 23px;
  width: 107px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-right: 3px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_25 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_25 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Label_25 span#rtr-s-Label_25_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button_1 {
  position: absolute;
  width: 206px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button_1 > .clipping, #s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button_1 > .paddingLayer {
  height: 29px;
  width: 206px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button_1 span#rtr-s-Button_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button_2 {
  position: absolute;
  width: 248px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button_2 > .clipping, #s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button_2 > .paddingLayer {
  height: 37px;
  width: 248px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab #s-Button_2 span#rtr-s-Button_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-405f8862-fae9-4a85-9805-e1a51128e2ab > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}