#s-56de7bd8-f2b4-4b9d-be00-a3478d11f65e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56de7bd8-f2b4-4b9d-be00-a3478d11f65e #s-Button-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56de7bd8-f2b4-4b9d-be00-a3478d11f65e #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56de7bd8-f2b4-4b9d-be00-a3478d11f65e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56de7bd8-f2b4-4b9d-be00-a3478d11f65e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56de7bd8-f2b4-4b9d-be00-a3478d11f65e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56de7bd8-f2b4-4b9d-be00-a3478d11f65e #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56de7bd8-f2b4-4b9d-be00-a3478d11f65e #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56de7bd8-f2b4-4b9d-be00-a3478d11f65e #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-56de7bd8-f2b4-4b9d-be00-a3478d11f65e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}