#s-69f7a382-c495-45f7-9545-2b118e632d07 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69f7a382-c495-45f7-9545-2b118e632d07 #s-Button-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69f7a382-c495-45f7-9545-2b118e632d07 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69f7a382-c495-45f7-9545-2b118e632d07 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69f7a382-c495-45f7-9545-2b118e632d07 #s-Button-black {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-69f7a382-c495-45f7-9545-2b118e632d07 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}