#s-6f0330c3-914e-4e4b-89a6-8de9955307e4 #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6f0330c3-914e-4e4b-89a6-8de9955307e4 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6f0330c3-914e-4e4b-89a6-8de9955307e4 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6f0330c3-914e-4e4b-89a6-8de9955307e4 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6f0330c3-914e-4e4b-89a6-8de9955307e4 #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6f0330c3-914e-4e4b-89a6-8de9955307e4 #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6f0330c3-914e-4e4b-89a6-8de9955307e4 #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6f0330c3-914e-4e4b-89a6-8de9955307e4 #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6f0330c3-914e-4e4b-89a6-8de9955307e4 #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6f0330c3-914e-4e4b-89a6-8de9955307e4 #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6f0330c3-914e-4e4b-89a6-8de9955307e4 #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6f0330c3-914e-4e4b-89a6-8de9955307e4 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6f0330c3-914e-4e4b-89a6-8de9955307e4 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6f0330c3-914e-4e4b-89a6-8de9955307e4 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6f0330c3-914e-4e4b-89a6-8de9955307e4 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6f0330c3-914e-4e4b-89a6-8de9955307e4 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6f0330c3-914e-4e4b-89a6-8de9955307e4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}