#s-7274ec9d-774b-465e-aaa3-83dcf0222ec8 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7274ec9d-774b-465e-aaa3-83dcf0222ec8 #s-Button-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7274ec9d-774b-465e-aaa3-83dcf0222ec8 #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7274ec9d-774b-465e-aaa3-83dcf0222ec8 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7274ec9d-774b-465e-aaa3-83dcf0222ec8 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7274ec9d-774b-465e-aaa3-83dcf0222ec8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}