#s-7848154e-b43f-4456-96c4-84152fefb12c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7848154e-b43f-4456-96c4-84152fefb12c #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7848154e-b43f-4456-96c4-84152fefb12c #s-Button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: rgba(248,247,246,0.0);
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: rgba(248,247,246,0.0);
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: rgba(248,247,246,0.0);
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: rgba(248,247,246,0.0);
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 17px;
  width: 54px;
  -ms-transform: rotate(0.0deg);
}
#s-7848154e-b43f-4456-96c4-84152fefb12c #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: rgba(248,247,246,0.0);
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: rgba(248,247,246,0.0);
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: rgba(248,247,246,0.0);
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: rgba(248,247,246,0.0);
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 17px;
  width: 54px;
  -ms-transform: rotate(0.0deg);
}
#s-7848154e-b43f-4456-96c4-84152fefb12c #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: rgba(248,247,246,0.0);
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: rgba(248,247,246,0.0);
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: rgba(248,247,246,0.0);
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: rgba(248,247,246,0.0);
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 17px;
  width: 54px;
  -ms-transform: rotate(0.0deg);
}
#s-7848154e-b43f-4456-96c4-84152fefb12c #s-Button_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: rgba(248,247,246,0.0);
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: rgba(248,247,246,0.0);
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: rgba(248,247,246,0.0);
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: rgba(248,247,246,0.0);
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 17px;
  width: 54px;
  -ms-transform: rotate(0.0deg);
}
#s-7848154e-b43f-4456-96c4-84152fefb12c #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7848154e-b43f-4456-96c4-84152fefb12c #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7848154e-b43f-4456-96c4-84152fefb12c #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-7848154e-b43f-4456-96c4-84152fefb12c #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7848154e-b43f-4456-96c4-84152fefb12c #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-7848154e-b43f-4456-96c4-84152fefb12c #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7848154e-b43f-4456-96c4-84152fefb12c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7848154e-b43f-4456-96c4-84152fefb12c #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-7848154e-b43f-4456-96c4-84152fefb12c #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-7848154e-b43f-4456-96c4-84152fefb12c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7848154e-b43f-4456-96c4-84152fefb12c #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7848154e-b43f-4456-96c4-84152fefb12c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}