#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd > #alignmentBox {
  position: relative;
  max-width: 414px;
  max-height: 736px;
  width: 100%;
  height: 100%;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Image_1 {
  position: absolute;
  width: 428px;
  height: 763px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Image_1 > img, #s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Image_1 > svg {
  height: 763px;
  width: 428px;
  box-shadow: none;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 24.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_1 > .clipping, #s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_1 span {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 24.0pt;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_1 span#rtr-s-Text_1_0 {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_1 span#rtr-s-Text_1_1 {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_7 > .clipping, #s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_7 span {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_7 span#rtr-s-Text_7_0 {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_8 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_8 > .clipping, #s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_8 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_8 span {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_8 span#rtr-s-Text_8_0 {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Input-text-password input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Input-text-password input::-moz-placeholder {
  color: #B4B4B4;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Input-text-password input:-moz-placeholder {
  color: #B4B4B4;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Input-text-password input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Input-text-password {
  position: absolute;
  width: 357px;
  height: 60px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Input-text-password .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Input-text-password input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Input-text-password > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Input-text-password > .paddingLayer {
  height: 60px;
  width: 342px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 0px;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Button > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #157EFB;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 6px 6px 6px 6px;
  box-shadow: none;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Button {
  position: absolute;
  width: 357px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 20.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Button > .clipping, #s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Button > .paddingLayer {
  height: 52px;
  width: 349px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Button span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 20.0pt;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Button span#rtr-s-Button_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Button-red > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FF0000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DD3214;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DD3214;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DD3214;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DD3214;
  border-radius: 11px 11px 11px 11px;
  box-shadow: none;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Button-red {
  position: absolute;
  width: 73px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Button-red > .clipping, #s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Button-red > .paddingLayer {
  height: 21px;
  width: 59px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Button-red .valign {
  vertical-align: middle;
  text-align: center;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Button-red span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Button-red span#rtr-s-Button-red_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Input_1 {
  position: absolute;
  width: 358px;
  height: 57px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Input_1 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Input_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Input_1 > .paddingLayer {
  height: 55px;
  width: 341px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 1px;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Button_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #007DFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Button_1 {
  position: absolute;
  width: 354px;
  height: 71px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 20.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Button_1 > .clipping, #s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Button_1 > .paddingLayer {
  height: 61px;
  width: 344px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 20.0pt;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}