#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Input-text-password INPUT {
  font-family: Arial;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Button-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-91264d5c-4391-4e53-b93c-6cfd2c0946cd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}