#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Library-screen {
  border-collapse: separate;
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Button_10 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Ellipse_8 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Ellipse_16 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Ellipse_17 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Label_54 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_37 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Base-Screen {
  border-collapse: separate;
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Cell_top > .valign {
  vertical-align: middle;
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-base_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-search-icon {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-refresh-icon {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-menu-icon {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Panel_8 > .valign {
  vertical-align: top;
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Icons_8 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Cell_center > .valign {
  vertical-align: top;
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_65 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_77 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_75 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_70 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_69 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_66 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_73 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Cell_bottom > .valign {
  vertical-align: middle;
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Ellipse_28 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Ellipse_29 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-plus_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Button-blue {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 21px;
  width: 59px;
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Cell-center > .valign {
  vertical-align: top;
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Rich_text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Line_2 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Line_2 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Rich_text_54 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Line_3 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Line_3 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Rich_text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Line_4 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Line_4 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Rich_text_56 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Line_5 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Line_5 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Rich_text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Line_6 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Line_6 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_50 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Label_92 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Label_93 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Cell-bottom {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_46 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_47 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_48 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Label_17 {
  -ms-transform: rotate(0.0deg);
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 #s-Image_49 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9fef1405-80aa-4b61-967d-3a9c60f84b55 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}