#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Button-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}