#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Button-red {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DD3214;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DD3214;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DD3214;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DD3214;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 21px;
  width: 59px;
  -ms-transform: rotate(0.0deg);
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Button-blue {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 21px;
  width: 59px;
  -ms-transform: rotate(0.0deg);
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 37px;
  width: 332px;
  -pie-background: linear-gradient(to bottom,rgba(255,255,255,0.2),rgba(0,0,0,0.2));
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 37px;
  width: 332px;
  -pie-background: linear-gradient(to bottom,rgba(255,255,255,0.2),rgba(0,0,0,0.2));
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-af6addc0-c39f-4a50-8221-8f6c1502494a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}