#s-afc937cf-a9fc-4244-adb7-b53752ef85aa #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-afc937cf-a9fc-4244-adb7-b53752ef85aa #s-Button-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-afc937cf-a9fc-4244-adb7-b53752ef85aa #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-afc937cf-a9fc-4244-adb7-b53752ef85aa #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-afc937cf-a9fc-4244-adb7-b53752ef85aa #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-afc937cf-a9fc-4244-adb7-b53752ef85aa #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-afc937cf-a9fc-4244-adb7-b53752ef85aa #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-afc937cf-a9fc-4244-adb7-b53752ef85aa #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-afc937cf-a9fc-4244-adb7-b53752ef85aa #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-afc937cf-a9fc-4244-adb7-b53752ef85aa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}