#s-afc937cf-a9fc-4244-adb7-b53752ef85aa #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-afc937cf-a9fc-4244-adb7-b53752ef85aa #s-Button-red {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DD3214;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DD3214;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DD3214;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DD3214;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 21px;
  width: 59px;
  -ms-transform: rotate(0.0deg);
}
#s-afc937cf-a9fc-4244-adb7-b53752ef85aa #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-afc937cf-a9fc-4244-adb7-b53752ef85aa #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-afc937cf-a9fc-4244-adb7-b53752ef85aa #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-afc937cf-a9fc-4244-adb7-b53752ef85aa #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-afc937cf-a9fc-4244-adb7-b53752ef85aa #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-afc937cf-a9fc-4244-adb7-b53752ef85aa #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-afc937cf-a9fc-4244-adb7-b53752ef85aa #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-afc937cf-a9fc-4244-adb7-b53752ef85aa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}