#s-ce10dc06-8edd-43a7-816b-e67b228f35bd > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-ce10dc06-8edd-43a7-816b-e67b228f35bd > #alignmentBox {
  position: relative;
  max-width: 414px;
  max-height: 736px;
  width: 100%;
  height: 100%;
}
#s-ce10dc06-8edd-43a7-816b-e67b228f35bd #s-Image_1 {
  position: absolute;
  width: 414px;
  height: 736px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ce10dc06-8edd-43a7-816b-e67b228f35bd #s-Image_1 > img, #s-ce10dc06-8edd-43a7-816b-e67b228f35bd #s-Image_1 > svg {
  height: 736px;
  width: 414px;
  box-shadow: none;
}
#s-ce10dc06-8edd-43a7-816b-e67b228f35bd #s-Button-red > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #DD3214;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DD3214;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DD3214;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DD3214;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DD3214;
  border-radius: 11px 11px 11px 11px;
  box-shadow: none;
}
#s-ce10dc06-8edd-43a7-816b-e67b228f35bd #s-Button-red {
  position: absolute;
  width: 73px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-ce10dc06-8edd-43a7-816b-e67b228f35bd #s-Button-red > .clipping, #s-ce10dc06-8edd-43a7-816b-e67b228f35bd #s-Button-red > .paddingLayer {
  height: 21px;
  width: 59px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
}
#s-ce10dc06-8edd-43a7-816b-e67b228f35bd #s-Button-red .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ce10dc06-8edd-43a7-816b-e67b228f35bd #s-Button-red span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-ce10dc06-8edd-43a7-816b-e67b228f35bd #s-Button-red span#rtr-s-Button-red_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-ce10dc06-8edd-43a7-816b-e67b228f35bd #s-Image_2 {
  position: absolute;
  width: 528px;
  height: 619px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ce10dc06-8edd-43a7-816b-e67b228f35bd #s-Image_2 > img, #s-ce10dc06-8edd-43a7-816b-e67b228f35bd #s-Image_2 > svg {
  height: 619px;
  width: 528px;
  box-shadow: none;
}
#s-ce10dc06-8edd-43a7-816b-e67b228f35bd #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ce10dc06-8edd-43a7-816b-e67b228f35bd #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-ce10dc06-8edd-43a7-816b-e67b228f35bd #s-Text_1 > .clipping, #s-ce10dc06-8edd-43a7-816b-e67b228f35bd #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ce10dc06-8edd-43a7-816b-e67b228f35bd #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce10dc06-8edd-43a7-816b-e67b228f35bd #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}
#s-ce10dc06-8edd-43a7-816b-e67b228f35bd #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ce10dc06-8edd-43a7-816b-e67b228f35bd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}