#s-ce10dc06-8edd-43a7-816b-e67b228f35bd #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce10dc06-8edd-43a7-816b-e67b228f35bd #s-Button-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce10dc06-8edd-43a7-816b-e67b228f35bd #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce10dc06-8edd-43a7-816b-e67b228f35bd #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ce10dc06-8edd-43a7-816b-e67b228f35bd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}