#s-d7ad0736-2d40-492c-bfa6-861a2c07476c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d7ad0736-2d40-492c-bfa6-861a2c07476c #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d7ad0736-2d40-492c-bfa6-861a2c07476c #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d7ad0736-2d40-492c-bfa6-861a2c07476c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d7ad0736-2d40-492c-bfa6-861a2c07476c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d7ad0736-2d40-492c-bfa6-861a2c07476c #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d7ad0736-2d40-492c-bfa6-861a2c07476c #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d7ad0736-2d40-492c-bfa6-861a2c07476c #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 29px;
  width: 324px;
  -ms-transform: rotate(0.0deg);
}
#s-d7ad0736-2d40-492c-bfa6-861a2c07476c #s-Button-red {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DD3214;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DD3214;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DD3214;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DD3214;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 21px;
  width: 59px;
  -ms-transform: rotate(0.0deg);
}
#s-d7ad0736-2d40-492c-bfa6-861a2c07476c #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d7ad0736-2d40-492c-bfa6-861a2c07476c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}