#s-e69bead1-22e7-400f-a9f3-e3a6e001b456 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e69bead1-22e7-400f-a9f3-e3a6e001b456 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e69bead1-22e7-400f-a9f3-e3a6e001b456 #s-Button-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e69bead1-22e7-400f-a9f3-e3a6e001b456 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e69bead1-22e7-400f-a9f3-e3a6e001b456 #s-Button-black {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e69bead1-22e7-400f-a9f3-e3a6e001b456 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}